{% extends "layout.html" %}


{% block content %}

{% with infos = get_flashed_messages(category_filter=["info"]) %}

    {% if infos %}
        {% for message in infos %}

        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>

        {% endfor %}

    {% endif %}

{% endwith %}

<h2>About</h2>

<p>This site serves aerial images from the drone numerator</p>

{% endblock %}