{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="inline-headers">
        <h1 id=photosHeader>{{mission_id_to_label[id]}} Photos</h1>
            <div class="dropdown">
                <div class="btn-toolbar" style="margin-bottom:10px">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        Select Mission<span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        {% for id in mission_ids %}
                            <li><a href="#{{mission}}">{{mission_id_to_label[id]}}</a></li>
                        {% endfor %}
                    </ul>
                    
                    <a class="btn btn-success btn-md">Fly Now</a>   
                </div>
            </div>    
    </div>
    
    <!--div class="col-md-12 col-sm-12">
    </div-->
    {% for ymd in executions_by_ymd}
    <section>
        <div class="container">
            <h4 style="display:inline-block">{{ymd}}</h4>&nbsp;&nbsp;<p class="text-primary" id="timestampFor{{ymd}}"></p>
            <div id="image-gallery-{{ymd}}">
                <div class="image-container"></div>
                    <img src="{{url_for('static', filename='images/left.svg')}}" class="prev"/>
                    <img src="{{url_for('static', filename='images/right.svg')}}" class="next"/>
                    <div class="footer-info">
                        <span class="leftSpan analyzeCommand">&nbsp;&nbsp;Analyze</span>
                        <span class="current"></span>/<span class="total"></span>
                        <span class="rightSpan animateCommand">Animate&nbsp;&nbsp;</span>
                    </div>
                </div>
            </div>   
        </div>
    </section>
    {% endfor %}    
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    var executions_by_ymd = {{executions_by_ymd}};
</script>
        
<script lang="text/javascript" src="{{url_for('static', filename='scripts/imageviewer.min.js')}}"></script>
<script lang="text/javascript" src="{{url_for('static', filename='scripts/imageviewer_navigate.js')}}"></script>
{% endblock %}
